$primary-font: 'Darker Grotesque', sans-serif;
$primary-text-color: rgba(3, 92, 127, 1);
$button-color: rgba(127, 3, 48, 0.87);
$secondary-color: rgba(127, 3, 48, 1);
$secondary-font: 'Archivo Black', sans-serif;

hr {
  height: 8px;
  background-color:#666;
  border: 0 none;
  width: 80%;
}

.project__section {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.project__text {
  font-family: $primary-font;
  font-size: 1.3em;
  width: 80%;
}

.project__img {
  height: 200px;
  width: 300px;
}

.project__preview {
  height: 70vh;
  margin-bottom: 10px;
  width: 70%;
}

.project__title {
  color: $primary-text-color;
  font-family: $secondary-font;
}

.links {
  align-content: center;
  display: flex;
  color: $primary-text-color;
  font-size: 1.2em;
  opacity: 1;
  &:hover {
    text-shadow: 1px 1px 1px $primary-text-color;
  }
}

.icon {
  height: 20px;
  width: 20px;
}

.modal {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  padding: 20px;
  width: 100%;
}

.apps__button {
  align-items: center;
  border: 1px solid $primary-text-color;
  box-shadow: 1px 2px 3px 1px $primary-text-color;
  color: $primary-text-color;
  display: flex;
  font-family: $primary-font;
  font-size: 1.2em;
  margin: 10px;
  padding: 10px;
  &:hover {
    transition: all 0.3s ease;
    background-color: $primary-text-color;
    color: white;
  }
}

.closing__button { 
  font-size: 1.3em;
  padding: 5px;
}
