.footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  width: 99%;
}

.footer__img {
  height: 50px;
  width: 50px;
}

.github {
  height: 40px;
  width: 40px;
}