.footer {
  border-top: 1px black solid;
  display: flex;
  justify-content: flex-end;
  max-height: 100px;
  padding: 20px;
  width: 99%;
}

.footer__img {
  height: 50px;
  width: 50px;
}

.github {
  height: 40px;
  width: 40px;
}